<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My Locations Search</h1>
    <form method="Post">
        Name:<input type="text" id="Name"/><br><br>
        Category:<input type="text" id="Category"/><br><br>
        <input type="Submit"/>
    </form>
  </body>
</html>